<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Well-Being Screening Report</title>
    <style>
        body { font-family: Arial, sans-serif; margin-left: 40px;margin-right: 40px;margin-top: 5px; }
        p{
            margin: 5px;
        }
        div.page
    {
        page-break-after: always;
        page-break-inside: avoid;
    }
    </style>
</head>
<body>
        <div>
            <table style="width: 100%; border: none">
                <tr>
                    <td style="text-align: left;">
                        <img src="/static/dev-consortium.png" style="width: 140px; height: auto;max-width: 100%;">
                    </td>
                    <td style="text-align: right;">
                        <img src="/static/teen-book.png" style="width: 90px; height: auto;max-width: 100%;">
                    </td>
                </tr>
            </table>
        </div>
        <div >
           
            <p style="text-align: center;margin-top: 10px;">
                <span style="background-color: orange; padding-left:10px;padding-right:10px;color: white;">
                    TeenBook Well-Being Screening Report
                </span>
            </p>
            <table style="border: 1px solid black;margin:auto;width: 80%;">
                <tr>
                    <td rowspan="2" style="font-size: small;border-right: 1px solid black;">
                        <p><strong>Personal Information Of Student</strong></p>
                        <p><strong>Name:</strong> {{ data['Name'] }}</p>
                        <p><strong>Father's Name:</strong> {{ data["father_name"] }}</p>
                        <p><strong>Class:</strong> {{ data['Class'] }}</p>
                        <p><strong>Age:</strong> {{ data['Age'] }}</p>
                        <p><strong>Gender:</strong> {{ data['Gender'] }}</p>
                        <p><strong>School:</strong> {{ data['School Name'] }}</p>
                        <p><strong>Date of Screening:</strong> {{ data['Date'] }}</p>
                    </td>
                    <td style="font-size: small;border-bottom: 1 px solid black;">
                        <p><strong>Well-Being Status Categories (Score Chart)</strong></p>
                        <p><strong>Satisfactory:</strong> 0-42</p>
                        <p><strong>Mild Concern:</strong> 43-84</p>
                        <p><strong>Moderate Concern:</strong> 85-126</p>
                        <p><strong>Severe Concern:</strong> 127-168</p>
                    </td>
                </tr>
                <tr>
                    <td style="font-size: small;">
                        <p><strong>Your Score: </strong>{{ data['composite_score'] }}</p>
                    </td>
                </tr>
            </table>
               
            <table style="margin-top: 10px;text-align: justify;">
                <tr>
                    <td>
                        <p style="background-color:rgb(177, 50, 0);">
                            <span  style="background-color:rgb(177, 50, 0); padding-left:5px;padding-right:5px;color: white;">Overall Summary</span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;">
                            {{ data['composite_score_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="background-color:rgb(177, 50, 0);">
                            <span style="background-color:rgb(177, 50, 0); padding-left:5px;padding-right:5px;color: white;">Section Wise Summary</span>
                        </p>
                    </td>   
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Screen Time</span><br>
                            {{ data['screen_time_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>        
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Sleep Duration</span><br>
                            {{ data['sleep_time_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>  
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Eating Patterns</span><br>
                            {{ data['eating_habits_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Physical Activity</span><br>
                            {{ data['physical_activity_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Interpersonal Relationships</span><br>
                            {{ data['interpersonal_relationship_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Behavior</span><br>
                            {{ data['behavior_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Thinking</span><br>
                            {{ data['thinking_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Body Signals</span><br>
                            {{ data['body_signals_summary'] }}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;">
                            <span style="color: rgb(177, 50, 0);"><strong>.</strong> Emotions</span><br>
                            {{ data['emotions_summary'] }}
                        </p>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td>
                        <p style="font-size: smaller;margin-top: 10px;text-align: right;">
                            <img src="/static/signature.png" style="width: 90px; height: auto;max-width: 100%;"><br>
                            <span style="color: black;">
                                Dr. Shishir Palsapure,<br>
                                Senior PsychologistMSc - Applied Psychology, <br>
                                BHMS, MD - Homeopathy
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
        </div>

</body>
</html>
